.backgroundImage{
  margin: 0;
  border-radius: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
h1 {
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  font-size: 40px;
  cursor: default;
}
.h2Steps {
  font-size: 15px;
  color: white;
  text-align: center;
  cursor: default;
  font-family: 'Roboto', sans-serif;
}
#filter {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  outline: none;
}
#filter:focus::-webkit-input-placeholder{
  color: transparent;
}
.imageContainer {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0px;
}
.imgArticle {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
}
.imgFooter {
  margin: 10px;
}
.imageContainer img {
  display: inline-block;
  width: 250px;
  height: 170px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.leftIcon {
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 7px;
  left: 10px;
  outline: none;
  background: none;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
}
.leftIcon span, .rightIcon span, .goToTop span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}
.rightIcon {
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 7px;
  right: 10px;
  outline: none;
  background: none;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
}
.goToTop {
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 7px;
  right: 10px;
  outline: none;
  background: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
}
.map {
  height: 500px;
  width: 500px;
}
.counter {
  text-align: center;
  font-size: 20px;
  height: 30px;
  width: 30px;
  position: fixed;
  top: 50px;
  right: 15px;
  outline: none;
  background: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
  color: black;
  font-weight: bold;
  cursor: default;
}

.selected {
  background-color: rgb(244, 212, 66);
}
.notSelected {
  background-color: white;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
  .h2Steps {
    font-size: 30px;
  }
  .leftIcon {
    font-size: 40px;
    height: 100px;
    width: 100px;
    background: none;
    color: white;
    border-color: white;
  }
  .rightIcon {
    font-size: 40px;
    height: 100px;
    width: 100px;
    background: none;
    color: white;
    border-color: white;
  }
  .counter {
    background: none;
    font-size: 30px;
    height: 100px;
    width: 100px;
    top: 120px;
    border: none;
    color: white;
  }
  .goToTop {
    font-size: 40px;
    height: 100px;
    width: 100px;
    background: none;
    color: white;
    border-color: white;
  }
  .imageContainer img {
    width: 360px;
    height: 230px;
    margin: 10px;
  }


}
