#plannerOuterContainer {
  height: 750px;
  width: 90%;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 30px;
}

#plannerInnerContainer {
  position: relative;
  height: 97%;
  width: 75%;
  margin: 0 auto;
  top: 1.5%;
  border-radius: 25px;
}

#plannerTitle {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  margin-bottom: 6px;
}

.plannerIndexBox {
  position: relative;
  color: white;
  font-size: 35px;
  background-color: none;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  left: 0px;
  margin: 0;
  border-radius: 100%;
  text-align: center;
}
.plannerEvents {
  display: inline-block;
  margin: 0 auto;
  background-color: rgba(244, 244, 244 , 0.7);
  height: 161;
  width: 84%;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 25px;
  text-align: left;
}

.plannerDate {
  display: inline-block;
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 0;
}

.plannerTime {
  display: inline-block;
  margin-top: 5px;
  margin-right: 8px;
  margin-bottom: 0;
  float: right;
}

.plannerName {
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0;
  font-size: 40px;
}

.plannerAddress {
  margin-left: 8px;
}
.plannerPhone {
  float: right;
}
.mobileVisitLink {
  margin-left: 8px;
  display: none;
}
.deleteFinishContainer {
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 5px;
  width: 95%;
}

.deletePlanner {
  display: block;
  height: 36px;
  width: 14%;
  border-radius: 8px;
  outline: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
  cursor: pointer;
  font-size: 15px;
  padding-top: 6px;
}

.deletePlanner:hover {
  color: black;
}

.visitWebsiteBox {
  display: inline-block;
  background-color: rgba(244, 244, 244 , 0.7);
  width: 14%;
  height: 180px;
  margin-left: 10px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  float: right;
  padding-top: 25px;
}

.plannerTextColor {
  color: black;
}

.plannerEventLink {
  display: block;
  color: black;
  font-size: 20px;
}

.plannerEventLink:hover {
  text-decoration: none;
}

.plannerOuterIndexBox {
  width: 100%;
  margin-bottom: 10px;

}

.goToWebsiteIcon {
  font-size: 100px;
}

.plannerPrice {
  float: right;
}

.editDateTime {
  width: 100px;
  margin-left: 16px;
  outline: none;
}

#myModal2 {
  color: purple;
}

@media only screen and (max-width: 1100px) {
  .visitWebsiteBox {
    position: relative;
    padding-top: 13px;
    top: 52.5px;
    height: 80px;
  }
  .goToWebsiteIcon {
    font-size: 30px;
  }
  .visitWebsiteText {
    font-size: 12px;
  }
  .deletePlanner {
    font-size: 12px;
  }
  .editDateTime {

  }
}

@media only screen and (max-width: 585px) {
  .visitWebsiteBox {
    display: none;
  }
  .deletePlanner {
    width: 70%;
  }

  .mobileVisitLink {
    display: block;
  }

  .plannerPhone {
    display: block;
    margin-left: 8px;
    float: none;
  }

  .plannerEvents {
    width: 100%;
  }

  #plannerInnerContainer {
    width: 85%;
  }

  .plannerName {
    font-size: 30px;
  }

  .editDateTime {

  }
}
