h1 {
  color: black;
  text-align: center;
  margin: 0px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  font-size: 40px;
  cursor: pointer;
}
.imageContainer {
  margin-top: 100px;
}
img {
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}
.button {
  height: 70px;
  width: 60px;
  position: fixed;
  top: 7px;
  right: 10px;
  z-index: 2;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
#listIcon {
  font-size: 40px;
}
.goToTop {
  position: fixed;
  width: 50px;
  height: 40px;
  bottom: 100px;
  right: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}
.goToTop:hover {
  background-color: #F4AC45;
}
.selected {
  filter: grayscale(0%);
}
.notSelected {
  filter: grayscale(100%);
}
