.backgroundImage{
  margin: 0;
  border-radius: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
h1 {
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  font-size: 80px;
  cursor: default;
}
.steps {
  text-align: center;
  color: white;
  cursor: default;
}
.imageContainer {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0px;
}
.imgArticle {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
}
.imgFooter {
  margin: 10px;
}
img {
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.leftIcon {
  font-size: 40px;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 7px;
  left: 10px;
  outline: none;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}
.rightIcon {
  font-size: 40px;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 7px;
  right: 10px;
  outline: none;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}
.goToTop {
  font-size: 40px;
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 7px;
  right: 10px;
  outline: none;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}

/*.goToTop:hover {
  background-color: white;
}*/
.selected {
  background-color: rgb(244, 212, 66);
}
.notSelected {
  background-color: white;
}
