.backgroundImage{
  margin: 0;
  border-radius: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
h1 {
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  font-size: 50px;
  cursor: default;
}
.h2Steps {
  font-size: 15px;
  color: white;
  text-align: center;
  cursor: default;
}
.imageContainer {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0px;
}
.imgArticle {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
}
.imgFooter {
  margin: 10px;
}
.imageContainer img {
  display: inline-block;
  width: 250px;
  height: 170px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.leftIcon {
  font-size: 20px;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 7px;
  left: 10px;
  outline: none;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}
.rightIcon {
  font-size: 20px;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 7px;
  right: 10px;
  outline: none;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}
.goToTop {
  font-size: 20px;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 7px;
  right: 10px;
  outline: none;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}
.counter {
  font-size: 15px;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 70px;
  right: 10px;
  outline: none;
  background: none;
  color: white;
  cursor: default;
}

.selected {
  background-color: rgb(244, 212, 66);
}
.notSelected {
  background-color: white;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
  .h2Steps {
    font-size: 30px;
  }
  .leftIcon {
    font-size: 40px;
    height: 100px;
    width: 100px;
  }
  .rightIcon {
    font-size: 40px;
    height: 100px;
    width: 100px;
  }
  .counter {
    font-size: 30px;
    height: 100px;
    width: 100px;
    top: 120px;
  }
  .goToTop {
    font-size: 40px;
    height: 100px;
    width: 100px;
  }
  .imageContainer img {
    width: 360px;
    height: 230px;
    margin: 10px;
  }


}
