/* List & Planner*/


#plannerOuterContainer {
  height: 750px;
  width: 85%;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 30px;
}

#plannerInnerContainer {
  position: relative;
  height: 97%;
  width: 95%;
  margin: 0 auto;
  top: 1.5%;
  border-radius: 25px;
}

#plannerTitle {
  margin: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 30px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
}

.plannerEvents {
  margin: 0 auto;
  background-color: rgba(244, 244, 244 , 0.4);
  height: auto;
  width: 90%;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  padding-bottom: 4px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.plannerDate {
  display: inline-block;
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 0;
}

.plannerTime {
  display: inline-block;
  margin-top: 5px;
  margin-right: 8px;
  margin-bottom: 0;
  float: right;
}

.plannerName {
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0;
  font-size: 20px;
}

.deleteFinishContainer {
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 5px;
  width: 95%;
}

.deletePlanner {
  display: block;
  height: 36px;
  width: 14%;
  border-radius: 8px;
  outline: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
  cursor: pointer;
  font-size: 11px;
}

.titleAndButton {
  width: 100%;
}

.firstAddToPlannerButton {
  float: right;
  background-color: green;
  margin-top: 5px;
  margin-right: 5px;
}


.bucketEvents {
  width: 96%;
  height: 100%;
  background-color: rgba(244, 212, 66, 0.3);
  margin-bottom: 30px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
}

#bucketContainer {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  cursor: default;
}

.bucketEventName {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 40px;
  margin-bottom: 0;
  color: white;
}

.bucketEventCategory {
  font-size: 18px;
  margin-left: 10px;
  color: white;
}

.bucketEventPrice {
  font-size: 18px;
  margin-right: 10px;
  float: right;
  color: white;
}

.bucketEventDescription {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 0;
  color: white;
}

.descriptionAndLink {
  width: 100%;

}

.bucketEventLink {
  float: right;
  margin-top: 0;
}

.bucketEventAddress {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  color: white;
}

.bucketEventPhone {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  color: white;
  float: right;
  margin-right: 10px;
}

.fourImagesContainer {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.bucketImages {
  height: auto;
  width: 20%;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid white;
  border-radius: 10px;
}

.counter {

}
