.backgroundImage {
  margin: 0;
  border-radius: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
h1 {
  color: white;
  text-align: center;
  margin: 0px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  font-size: 80px;
  cursor: pointer;
}
.steps {
  margin-left: 30px;
  color: white;
  cursor: default;
}
.imageContainer {
  margin-top: 30px;
}
.imgArticle {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
}
.imgFooter {
  margin: 10px;
}
img {
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.button {
  height: 70px;
  width: 60px;
  position: fixed;
  top: 7px;
  right: 10px;
  z-index: 2;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
#listIcon {
  font-size: 40px;
}
.calButton {
  height: 70px;
  width: 60px;
  position: fixed;
  top: 90px;
  right: 10px;
  z-index: 2;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
#calIcon {
  font-size: 40px;
}
.goToTop {
  position: fixed;
  width: 50px;
  height: 40px;
  bottom: 100px;
  right: 15px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}
.goToTop:hover {
  background-color: white;
}
.selected {
  background-color: rgb(244, 212, 66);
}
.notSelected {
  background-color: white;
}
