header {
  background-color: #F4AC45;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
  animation: text-focus-in 2s 0s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

h1 {
  color: black;
  text-align: center;
  margin: 0px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  font-size: 40px;
  animation: text-focus-in 2s 0s cubic-bezier(0.550, 0.085, 0.680, 0.530) both, jello-vertical 0.9s 1.5s 1 both;
  cursor: pointer;
}

img {
  display: inline-block;
  filter: grayscale(100%);
  margin: 10px;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  animation: fade-in 3s 0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.button {
  height: 70px;
  width: 60px;
  background-image: url(../images/planner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 120px;
  right: 5px;
  outline: none;
  border-radius: 5px;
  animation: fade-in 3s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  cursor: pointer;
}

.goToTop {
  position: fixed;
  width: 50px;
  height: 40px;
  bottom: 100px;
  right: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}

.goToTop:hover {
  background-color: #F4AC45;
}

.selected {
  filter: grayscale(0%);
}

.notSelected {
  filter: grayscale(100%);
}
