.welcome li {
  list-style: none;
}

#welcomeHeader {
  font-size: 50px;
  color: white;
  cursor: default;
}

.steps {
  font-size: 15px;
  color: white;
  text-align: center;
}

.icons {
  margin: 10px;
  font-size: 60px;
  padding: 40px;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
}

#welcomeBtn {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 80px;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #0044A1;
  box-shadow: 0px 1px 2px 2px black;
  border: none;
  color: white;
  outline: none;
}

#welcomeBtn:hover {
  filter: opacity(.8);
}

.welcome {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #welcomeHeader {
    font-size: 100px;
  }
  .steps {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
