.welcome {
  height: 100vh;
  background-image: url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1476842384041-a57a4f124e2e%3Fixlib%3Drb-0.3.5%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax%26s%3D0d4c04aca3574ac74e97f2d150fdb4fc);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.welcome li {
  list-style: none;
}
#welcomeHeader {
  font-size: 100px;
  color: white;
  cursor: default;
}
.stepOne {
  color: white;
  text-align: center;
}
#imgIcon {
  margin: 10px;
  font-size: 100px;
  padding: 40px;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
}
.stepTwo {
  color: white;
  text-align: center;
}
#plannerIcon {
  margin: 10px;
  font-size: 100px;
  padding: 40px;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
}
.stepThree {
  text-align: center;
  color: white;
}
#calendar {
  margin: 10px;
  font-size: 100px;
  padding: 40px;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
}
#welcomeBtn {
  margin-top: 50px;
  height: 80px;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #0044A1;
  box-shadow: 0px 1px 2px 2px black;
  border: none;
  color: white;
}
#welcomeBtn:hover {
  filter: opacity(.8);
}
.welcome {
  text-align: center;
}
