#welcomeHeader {
  font-size: 100px;
  cursor: default;
}
.stepOne {
  text-align: center;
}
#imgIcon {
  width: 320px;
  filter: none;
}
.stepTwo {
  text-align: center;
}
#plannerIcon {
  width: 220px;
  height: auto;
  background-color: #F4AC45;
  filter: none;
  border-radius: 15px;
}
.stepThree {
  text-align: center;
}
#calendarIcon {
  width: 320px;
  filter: none;
}
#welcomeBtn {
  margin-top: 50px;
  height: 80px;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #229954;
  border: none;
  color: black;
}
#welcomeBtn:hover {
  background-color: #145A32;
}
.welcome {
  text-align: center;
}
