<header>
 <h1>Wanderlist</h1>
 <h2 class='h2Steps'>Step 3: View your adventures in this planner </h2>
</header>

<div id = "plannerOuterContainer" style="">
 <div id = "plannerInnerContainer">
   <!-- <h3 id = "plannerTitle"> Planner </h3> -->
   <div ng-repeat = "plannerEvent in plannerEvents">
     <div class = "plannerOuterIndexBox">
        <div class = "plannerIndexBox">
          {{plannerEvents.indexOf(plannerEvent) + 1}}
        </div>
      </div>
      <span class = "plannerEvents">
         <span type = "text" class = "plannerDate plannerTextColor"> {{plannerEvent.dateTime}} </span>
         <span class= "plannerTextColor redColor plannerPrice"> {{plannerEvent.price}} </span>
         <p class = "plannerName plannerTextColor"> {{plannerEvent.name}}
         </p>
         <span class="plannerAddress plannerTextColor"> {{plannerEvent.address}} </span>
         <span class="plannerPhone plannerTextColor"> {{plannerEvent.phone}} </span>
         <a class="mobileVisitLink" href = {{plannerEvent.website}} target="_blank"> Visit Website </a>
         <div class = "deleteFinishContainer">
           <button type = "button" class = "deletePlanner" id = "deletePlanner{{plannerEvent.id}}" ng-click = "deleteButtonClicked()"> Delete </button>
         </div>
      </span>
      <span class = "visitWebsiteBox">

        <a class="plannerEventLink" href = {{plannerEvent.website}} target="_blank">
          <div class="glyphicon glyphicon-hand-right goToWebsiteIcon" aria-hidden="true"></div>
          <p class = "visitWebsiteText"> Visit Website </p>
        </a>
      </span>
   </div>

 </div>
</div>
<button type="button" class='leftIcon' onclick="window.location='/#!/list'"><span class='glyphicon glyphicon-list'></span></button>
<button type="button" class="goToTop" style="display:none;"><span class='glyphicon glyphicon-chevron-up'></span></button>
