<div class="container-fluid">
  <h1 id='welcomeHeader'>Wanderlist</h1>
  <div class="row">
    <div class="col-xs-12 col-lg-4 stepOne">
      <h2>Step 1:</h2>
      <p>Choose your favorite photos!</p>
      <p>Each photo represents an event!</p>
      <img src="https://farm1.staticflickr.com/388/19085290983_7a96e05f6a.jpg" id='imgIcon'>
    </div>
    <div class="col-xs-12 col-lg-4 stepTwo">
      <h2>Step 2:</h2>
      <p>Click on the planner to view all your events!</p>
      <p>Choose what events interest you the most!</p>
      <img src="images/planner.png" id='plannerIcon'>
    </div>
    <div class="col-xs-12 col-lg-4 stepThree">
      <h2>Step 3:</h2>
      <p></p>
      <p>Now your favorite events can be organized into a planner!</p>
      <img src="http://www.racedepartment.com/images/rd_calext/calendar.png" id='calendarIcon'>
    </div>
  </div>
</div>
