<div class="container-fluid welcome">
  <h1 id='welcomeHeader'>Wanderlist</h1>
  <div class="row">
    <div class="col-xs-12 col-lg-4 stepOne">
      <h2>Step 1:</h2>
      <li>Click on photos you like</li>
      <li>Photos represent events</li>
      <img src="https://farm1.staticflickr.com/388/19085290983_7a96e05f6a.jpg" id='imgIcon'>
    </div>
    <div class="col-xs-12 col-lg-4 stepTwo">
      <h2>Step 2:</h2>
      <li>Click on your wander list to find your next adventures!</li>
      <li>Add them to your planner</li>
      <img src="images/planner.png" id='plannerIcon'>
    </div>
    <div class="col-xs-12 col-lg-4 stepThree">
      <h2>Step 3:</h2>
      <li>Organize your adventures</li>
      <img src="http://www.racedepartment.com/images/rd_calext/calendar.png" id='calendarIcon'>
    </div>
    <button type="button" id='welcomeBtn' onclick="window.location='/#!/home'">Start your Wanderlist</button>
  </div>
</div>
