<div class="container-fluid welcome">
  <h1 id='welcomeHeader'>Wanderlist</h1>
  <div class="row">
    <div class="col-xs-12 col-lg-4 steps">
      <h2>Step 1:</h2>
      <li>Click on photos you like</li>
      <li>Photos represent events</li>
      <span class='glyphicon glyphicon-camera icons'></span>
    </div>
    <div class="col-xs-12 col-lg-4 steps">
      <h2>Step 2:</h2>
      <li>Click on your wander list to find your next adventures!</li>
      <li>Add them to your planner</li>
      <span class='glyphicon glyphicon-list icons'></span>
    </div>
    <div class="col-xs-12 col-lg-4 steps">
      <h2>Step 3:</h2>
      <li>View your adventures</li>
      <li>Explore!</li>
      <span class='glyphicon glyphicon-calendar icons'></span>
    </div>
    <button type="button" id='welcomeBtn' onclick="window.location='/#!/home'">Start your Wanderlist</button>
  </div>
</div>
